#tempfiles
slack_msg
make_log.txt
*~
*#
#################################################################################
## Vivado files
#################################################################################
#build direcotry
proj/

#all the vivado stuff in the cores directory execpt the xci files
cores/*/*
!cores/*/*.xci

#anything sub directories in the bd directory
bd/*/*

#################################################################################
## Output files
#################################################################################
bit
os/hw
os/*
!os/centos
!os/*.dtsi_post_chunk
!os/*.dtsi_chunk
os/zynq_os
!os/zynq_os_mods
!os/extra_files

#################################################################################
## Sim files
#################################################################################
sim/*
!sim/tb*/


#################################################################################
## Temp build files
#################################################################################
src/fw_version.vhd


#################################################################################
## documentation
#################################################################################
doc/*/
doc/*.pdf

#################################################################################
## CentOS
#################################################################################
os/centos/centos_root.tar.gz
os/centos/image/
os/centos/secure
os/centos/qemu-arm-static
