#tempfiles
dump*
slack_msg
make_log.txt
make_output.txt
*~
*#
vivado*.log
vivado*.jou
*backup*

#################################################################################
## Configs
#################################################################################
configs/*/autogen/cores
configs/*/cores/*/

#################################################################################
## Vivado files
#################################################################################
#build direcotry
proj/

#all the vivado stuff in the cores directory execpt the xci files
cores/*/*
!cores/*/*.xci

#anything sub directories in the bd directory
bd/*/*


#################################################################################
## Output files
#################################################################################
bit
kernel/hw
kernel/*
!kernel/output/BOOT.BIN
!kernel/output/boot.scr
!kernel/output/image.ub
!kernel/*.dtsi_post_chunk
!kernel/*.dtsi_chunk
!kernel/scripts
kernel/zynq_os
!kernel/configs

#picoblaze
*.fmt
src/CM_interface/picoblaze/picoblaze/KCPSM6_session_log.txt
src/CM_interface/picoblaze/picoblaze/Reprogram.script
src/CM_interface/picoblaze/picoblaze/cli.log


#################################################################################
## Sim files
#################################################################################
sim/*
!sim/tb*/


#################################################################################
## Temp build files
#################################################################################
src/fw_version.vhd


#################################################################################
## Autogen files
#################################################################################
configs/*/autogen


#################################################################################
## documentation
#################################################################################
doc/*/
doc/*.pdf

