#tempfiles
slack_msg
make_log.txt
*~
*#
vivado*.log
vivado*.jou
#################################################################################
## Vivado files
#################################################################################
#build direcotry
proj/

#all the vivado stuff in the cores directory execpt the xci files
cores/*/*
!cores/*/*.xci

#anything sub directories in the bd directory
bd/*/*


#################################################################################
## Output files
#################################################################################
bit
kernel/hw
kernel/*
!kernel/*.dtsi_post_chunk
!kernel/*.dtsi_chunk
kernel/zynq_os
!kernel/configs
/os/Kintex_slaves.yaml
/os/Virtex_slaves.yaml
/os/address_table/
/os/slaves.yaml


#################################################################################
## Sim files
#################################################################################
sim/*
!sim/tb*/


#################################################################################
## Temp build files
#################################################################################
src/fw_version.vhd


#################################################################################
## documentation
#################################################################################
doc/*/
doc/*.pdf

#################################################################################
## CentOS
#################################################################################
!os
os/*.tar.gz
os/image/
os/secure
os/qemu-arm-static
