[Unit]
Description=Service to monitor the PS for SC
After=systemd-udevd.service

[Service]
Type=forking
PIDFile=/var/run/countUsers.pid
Restart=always
RestartSec=1
User=root
ExecStart=/opt/BUTool/bin/arm-monitor

[Install]
WantedBy=basic.target
