[Unit]
Description=XVC server for zynq JTAG chain 
After=systemd-udevd.service

[Service]
Type=forking
PIDFile=/var/run/xvc_server.2546.pid
Restart=always
RestartSec=1
User=root
ExecStart=/opt/BUTool/bin/xvc_server -p 2546 -v XVC_LOCAL -c connections.xml

[Install]
WantedBy=basic.target
