[Unit]
Description=Graphite monitoring
After=uio_daemon.service lighttpd.service
Requires=uio_daemon.service lighttpd.service

[Service]
Type=forking
PIDFile=/var/run/graphite_monitor.pid
Restart=always
RestartSec=1
RuntimeMaxSec=12h
User=root
ExecStart=/opt/Graphite/bin/graphite_monitor

[Install]
WantedBy=basic.target
